* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 16px;
  color: #616161;
}
body {
  padding: 15px;
}

.titulo {
  font-size: 28px;
  margin-bottom: 30px;
}

.agregar {
  width: 300px;
}

.btn {
  width: 100%;
  border: 2px solid #616161;
  border-radius: 10px;
  background-color: #ffffff;
  color: #616161;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
  margin-bottom: 15px;
  outline: none;
  box-sizing: border-box;
  padding: 8px 15px;
  cursor: pointer;
  box-shadow: 0px 3px 6px #00000029;
}
.btn.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0074d9;
  border-color: #0074d9;
  color: #ffffff;
}
.btn.btn-primary:hover {
  background-color: #0057a3;
  border-color: #0057a3;
}

.btn.btn-cancel {
  border: 1px solid #616161;
}
.btn.btn-cancel:hover {
  background-color: #616161;
  border-color: #616161;
  color: #FFFFFF;
}

.wrapper-tabla {
  border: 1px solid #E5E5E4;
  border-radius: 10px;
  box-shadow: 0px 3px 4px #00000029;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  
}

.container-table table {
  width: 100%;
  border: 0px;
  border-collapse: collapse;
}
.container-table table thead tr {
  border-radius: 10px 10px 0px 0px;
  background-color: #00387A;
  text-align: center;
  color: #FFFFFF;
  height: 40px;
}
.container-table table thead tr th:first-child {
  border-radius: 10px 0px 0px 0px;
}
.container-table table thead tr th:last-child {
  border-radius: 0px 10px 0px 0px;
}

.container-table table tbody tr:nth-child(2n) {
  background-color: #FAFAFA;
}
.container-table table tbody tr td {
  text-align: center;
  vertical-align: center;
}
.container-table table tbody tr td > p,
.container-table table tbody tr td > div {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-table table tbody tr td .opciones button {
  height: 30px;
  width: 30px;
  font-size: 18px;
  background: transparent;
  border-radius: 50%;
  outline: none;
  border: 1px solid #616161;
  margin-right: 5px;
  cursor: pointer;
  -webkit-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
}
.container-table table tbody tr td .opciones button:last-child {
  margin-right: 0px;
}
.container-table table tbody tr td .opciones button.option-editar-poliza {
  color: #2EAD6D;
  border-color: #2EAD6D;
}
.container-table table tbody tr td .opciones button.option-eliminar-poliza {
  color: red;
  border-color: red;
}
.container-table table tbody tr td .opciones button.option-editar-poliza:hover {
  color: #FFFFFF;
  background-color: #2EAD6D;
}
.container-table table tbody tr td .opciones button.option-eliminar-poliza:hover {
  color: #FFFFFF;
  background-color: red;
}
.container-table table tbody tr td .opciones button i {
  pointer-events: none;
}

/* MODAL */
.wrapper-modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.wrapper-modal.show {
  display: flex;
}
.wrapper-modal .mask {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.wrapper-modal .container-modal {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  border-radius: 1rem;
  min-width: 300px;
  box-shadow: 0px 3px 6px #00000029;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  z-index: 1;
}

.head-modal {
  display: flex;
  padding: 10px 30px 10px 15px;
  position: relative;
}
.head-modal .title-modal {
  font-size: 24px;
} 
.head-modal .close-modal {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  top: 7px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0px;
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 0px;
  font-size: 24px;
  -webkit-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
}
.head-modal .close-modal:hover {
  background-color: #616161;
  color: #FFFFFF;
  
}

@-webkit-keyframes animatetop {
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* CONTROL */
.group-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.group-control > label {
  font-weight: 500;
  margin-bottom: 3px;
}
.form-control {
  min-height: 40px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #1C393F45;
  color: #616161;
  padding: 0 10px 0 10px;
  -webkit-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
  box-shadow: 0px 3px 6px #00000029;
  font-size: 16px;
}
.form-control::placeholder {
  line-height: 22px;
  letter-spacing: 0px;
  color: #1C393F52;
}
.form-control:focus {
  border-color: #0074d9;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.group-control .msg {
  font-size: 14px;
  padding-top: 2px;
  display: none;
}
.group-control.error .msg {
  color: #FF5C17;
  display: block;
}

/* ALERTA FORM */
.alerta {
  min-height: 67px;
  width: 100%;
  border-radius: 12px;
  padding: 16px 22px 17px 20px;
  display: none;
  align-items: center;
  margin-bottom: 20px;
  background-color: #FEE;
  color: #A66;
  box-shadow: 0px 3px 6px #00000029;
}
.alerta.show {
  display: flex;
}
.alerta .msg {
  flex: 1;
}
.alerta .cerrar-alerta {
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s;
}
.alerta .cerrar-alerta:hover {
  transform: scale(1.3);
}


/* MODAL AGREGAR POLIZA */
#modalAgregarPoliza .container-modal {
  width: 500px;
}
#modalAgregarPoliza .body-modal {
  padding: 15px 15px 15px;
}
#modalAgregarPoliza .acciones {
  display: flex;
  justify-content: space-between;
}
#modalAgregarPoliza .acciones .btn {
  width: 120px;
  margin-bottom: 0px;
}

/* MODAL CONFIRMAR AGREGAR POLIZA */
#modalAgregarPolizaConfirmacion .container-modal {
  width: 500px;
}
#modalAgregarPolizaConfirmacion .body-modal {
  padding: 15px 15px 15px;
}
#modalAgregarPolizaConfirmacion .body-modal .msg-confirmacion {
  margin-bottom: 20px;
}
#modalAgregarPolizaConfirmacion .acciones {
  display: flex;
  justify-content: space-between;
}
#modalAgregarPolizaConfirmacion .acciones .btn {
  width: 120px;
  margin-bottom: 0px;
}

/* MODAL EDITAR POLIZA */
#modalEditarPoliza .container-modal {
  width: 500px;
}
#modalEditarPoliza .body-modal {
  padding: 15px 15px 15px;
}
#modalEditarPoliza .acciones {
  display: flex;
  justify-content: space-between;
}
#modalEditarPoliza .acciones .btn {
  width: 120px;
  margin-bottom: 0px;
}

/* MODAL CONFIRMAR EDITAR POLIZA */
#modalEditarPolizaConfirmacion .container-modal {
  width: 500px;
}
#modalEditarPolizaConfirmacion .body-modal {
  padding: 15px 15px 15px;
}
#modalEditarPolizaConfirmacion .body-modal .msg-confirmacion {
  margin-bottom: 20px;
}
#modalEditarPolizaConfirmacion .acciones {
  display: flex;
  justify-content: space-between;
}
#modalEditarPolizaConfirmacion .acciones .btn {
  width: 120px;
  margin-bottom: 0px;
}

/* MODAL CONFIRMAR ELIMINAR POLIZA */
#modalEliminarPolizaConfirmacion .container-modal {
  width: 500px;
}
#modalEliminarPolizaConfirmacion .body-modal {
  padding: 15px 15px 15px;
}
#modalEliminarPolizaConfirmacion .body-modal .msg-confirmacion {
  margin-bottom: 20px;
}
#modalEliminarPolizaConfirmacion .acciones {
  display: flex;
  justify-content: space-between;
}
#modalEliminarPolizaConfirmacion .acciones .btn {
  width: 120px;
  margin-bottom: 0px;
}

/* MODAL EXITO */
#modalExito .container-modal {
  width: 500px;
}
#modalExito .body-modal {
  padding: 15px 15px 15px;
}
#modalExito .body-modal .vector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 20px;
}
#modalExito .body-modal .vector i {
  border: 1px solid #2EAD6D;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2EAD6D;
  font-size: 28px;
}
#modalExito .body-modal .msg-exito {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
#modalExito .acciones {
  display: flex;
  justify-content: flex-end;
}
#modalExito .acciones .btn {
  width: 120px;
  margin-bottom: 0px;
}

/* LOAD */
.wrapper-load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.wrapper-load.show {
  display: flex;
}
.cssload-container-general {
  animation: cssload-animball_two 1.15s infinite;
  -o-animation: cssload-animball_two 1.15s infinite;
  -ms-animation: cssload-animball_two 1.15s infinite;
  -webkit-animation: cssload-animball_two 1.15s infinite;
  -moz-animation: cssload-animball_two 1.15s infinite;
  width: 43px;
  height: 43px;
}

.cssload-internal {
  width: 43px;
  height: 43px;
  position: absolute;
}

.cssload-ballcolor {
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

.cssload-ball_1,
.cssload-ball_2,
.cssload-ball_3,
.cssload-ball_4 {
  position: absolute;
  animation: cssload-animball_one 1.15s infinite ease;
  -o-animation: cssload-animball_one 1.15s infinite ease;
  -ms-animation: cssload-animball_one 1.15s infinite ease;
  -webkit-animation: cssload-animball_one 1.15s infinite ease;
  -moz-animation: cssload-animball_one 1.15s infinite ease;
}

.cssload-ball_1 {
  background-color: #779ECB;
  top: 0;
  left: 0;
}

.cssload-ball_2 {
  background-color: #3B83BD;
  top: 0;
  left: 23px;
}

.cssload-ball_3 {
  background-color: #1B4F8F;
  top: 23px;
  left: 0;
}

.cssload-ball_4 {
  background-color: #0A497B;
  top: 23px;
  left: 23px;
}

.ContNoticieroPleca {
  color: #fff;
  height: 45px;
  cursor: pointer;
  padding-top: 5px;
  font-size: 14px;
}

.ContNoticieroPleca span {
  font-weight: bold;
}

.ContNoticieroPleca a {
  text-decoration: none;
  color: #FFF !important;
}

.container-right-header {
  float: right;
  height: 45px;
}

@keyframes cssload-animball_one {
  0% {
      position: absolute;
  }

  50% {
      top: 12px;
      left: 12px;
      position: absolute;
      opacity: 0.5;
  }

  100% {
      position: absolute;
  }
}

@-o-keyframes cssload-animball_one {
  0% {
      position: absolute;
  }

  50% {
      top: 12px;
      left: 12px;
      position: absolute;
      opacity: 0.5;
  }

  100% {
      position: absolute;
  }
}

@-ms-keyframes cssload-animball_one {
  0% {
      position: absolute;
  }

  50% {
      top: 12px;
      left: 12px;
      position: absolute;
      opacity: 0.5;
  }

  100% {
      position: absolute;
  }
}

@-webkit-keyframes cssload-animball_one {
  0% {
      position: absolute;
  }

  50% {
      top: 12px;
      left: 12px;
      position: absolute;
      opacity: 0.5;
  }

  100% {
      position: absolute;
  }
}

@-moz-keyframes cssload-animball_one {
  0% {
      position: absolute;
  }

  50% {
      top: 12px;
      left: 12px;
      position: absolute;
      opacity: 0.5;
  }

  100% {
      position: absolute;
  }
}

@keyframes cssload-animball_two {
  0% {
      transform: rotate(0deg) scale(1);
  }

  50% {
      transform: rotate(360deg) scale(1.3);
  }

  100% {
      transform: rotate(720deg) scale(1);
  }
}

@-o-keyframes cssload-animball_two {
  0% {
      -o-transform: rotate(0deg) scale(1);
  }

  50% {
      -o-transform: rotate(360deg) scale(1.3);
  }

  100% {
      -o-transform: rotate(720deg) scale(1);
  }
}

@-ms-keyframes cssload-animball_two {
  0% {
      -ms-transform: rotate(0deg) scale(1);
  }

  50% {
      -ms-transform: rotate(360deg) scale(1.3);
  }

  100% {
      -ms-transform: rotate(720deg) scale(1);
  }
}

@-webkit-keyframes cssload-animball_two {
  0% {
      -webkit-transform: rotate(0deg) scale(1);
  }

  50% {
      -webkit-transform: rotate(360deg) scale(1.3);
  }

  100% {
      -webkit-transform: rotate(720deg) scale(1);
  }
}

@-moz-keyframes cssload-animball_two {
  0% {
      -moz-transform: rotate(0deg) scale(1);
  }

  50% {
      -moz-transform: rotate(360deg) scale(1.3);
  }

  100% {
      -moz-transform: rotate(720deg) scale(1);
  }
}